/**header**/
.header{
    font-family: arial;
    background-color: black;
    color: aliceblue;
    position: fixed;
    width:100%;
    overflow: hidden;
    z-index: 99999;
    overflow: hidden;
    padding-top:0;
    position:absolute;
    padding-left:px;
    margin-right:7px;
    right:0;

}

.header-container{
    margin-left: 7px;
}
ul{
    list-style-type: none;
    display:flex;
    justify-content:space-evenly;
    
}

.link a{
    color: goldenrod;
    text-decoration: none;
    
}

.logoimage{
    width:10%;
    height: 15%;
    float:left
}
body{
    
    background-color: rgb(30, 24, 24);
}


/**form*/
.contact{
    
    padding-top: 10%;
    background-color: linear-gradient(grey,black);
    
}

.contact-text{
    text-align: center;
    background-color: linear-gradient(grey,black);
    padding:21px;
    color:goldenrod;
    
}

input[type=text],select
    {
    width:100%;
    padding:12px;
    margin:8px,0;
    display:inline-block;
    border:2px solid black;
    border-radius:3px;
    box-sizing:border-box;
    resize:vertical;
    color: goldenrod;
    background-color: rgb(41, 34, 34);
    }
input[type=submit]{
    width:40%;
    color: goldenrod;
    background-color: rgb(41, 34, 34);
    padding:14px 20px;
    margin-left:350px;
    margin-bottom:20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    font:bold;
    font-size: 15px;
    }
input[type=submit]:hover,input[type=text]:hover{
    background-color:grey;
    }

fieldset{
    color:goldenrod;
    background-color:rgb(41, 34, 34);
    }
textarea{
    margin:10px;
    width:100%;
    height:150px;
    padding:8px 20px;
    box-sizing:border-box;
    border:2px solid black;
    border-radius:4px;
    background-color:rgb(41, 34, 34);
    font-size:16px;
}
input,textarea{
    background-color:rgb(41, 34, 34) ;
   color: beige;
}

*/
/**footer*/
.footer{
    font-size: 12px;
    color: bisque;
    margin-left: 35%;
    margin-bottom: 5px ;
}

