/**header**/
.header{
    font-family: arial;
    background-color: black;
    color: aliceblue;
    position: fixed;
    width:100%;
    overflow: hidden;
    z-index: 99999;
    overflow: hidden;
    padding-top:0;
    position:absolute;
    padding-left:px;
    margin-right:7px;
    right:0;

}

.header-container{
    margin-left: 7px;
}
ul{
    list-style-type: none;
    display:flex;
    justify-content:space-evenly;
    
}

.link a{
    color: goldenrod;
    text-decoration: none;
    
}

.logoimage{
    width:10%;
    height: 15%;
    float:left
}
body{
    background-image: linear-gradient(grey,black);
}
/** slider**/
* {box-sizing:border-box}
.slider{
    padding-top:8%;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin:auto;
}
.sliderimg{
    width:100%;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: bisque;
  font-size: 30px;
 /* padding: 8px 12px;*/
  position: absolute;
  bottom: 125px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* mid*/

.midtitle{
    color: goldenrod;
    text-align: center;
    font-size: 30px;
}
.mid{
    color:white;
    font-size:15px;
}
.mockcontent{
    
    padding-left: 73px;
}
.mockimg{
    padding-left: 10px;
}
.appeimg{
    width: 65%;
    height:47%;
}

.appecontent{
    
    padding-left:73px;
}

.descontent{
    padding-left:73px;
}

.midimg{
    float:left;
    width:33.33%;
    padding:7px;
}

.mid::after{
    content: "";
    clear: both;
    display: table;
}

/**about*/
.about{
    text-align: center;
    color:goldenrod;
    font-size: 40px;
}
.abt-container {
    
    display:inline-flexbox;
    justify-content: space-evenly;
}
   
.abtimg {
     
    width: 45%;
    height: 43%;
    float: right;
    
}
.abtimg img{
    width: 90%;
    height:95%;
} 
.abttext {
    color:bisque;
     font-size: 20px;
     padding-left: -60px;
     text-align: left;
   }
/** info**/
.info{
    padding-top: 90px;
    display: inline-flexbox;


}
.infologo{
    padding: center;
    float: left;
    padding-top: 14px;
}
.infotitle{
    color: bisque;
    font-size: 10px;
    padding-top: 1px;
}
.infocontent{
    color: beige;
    align-content: center;
}

/**footer*/
.footer{
    font-size: 12px;
    color: bisque;
    margin-left: 35%;
    margin-bottom: 5px ;
}